// Depth (shadows)

$sds_shadows: (
  0: none,
  1: 0 2px 4px rgba(0, 0, 0, 0.16),
  2: 0 4px 16px rgba(0, 0, 0, 0.24),
  3: 0 16px 48px rgba(0, 0, 0, 0.32),
  4: 0 2px 4px rgba(255, 0, 120, 0.16),
  5: 0 4px 16px rgba(255, 0, 120, 0.24),
  6: 0 16px 48px rgba(255, 0, 120, 0.32),
) !default;

// $shadow - : The desired value from the `$sds_depths()` map

@mixin sds-shadow($shadow) {
  @if not map-has-key($sds_shadows, $shadow) {
    @error 'The shadow: `#{$shadow}` is not a valid shadow. Available depths are:' map-keys($sds_shadows);
  }

  $selected-sds_shadow: map-get($sds_shadows, $shadow);

  box-shadow: $selected-sds_shadow;
}
