@import './node_modules/@2600hz/sds-core/sds-tools';
@import 'shadows';

@import 'theming/mixins';

$themes: ();

@import 'theming/light';
@include generateThemeJSExports(light, $light);

@import 'theming/dark';
@include generateThemeJSExports(dark, $dark);

$sdsExampleVariable: rgb(137, 211, 62);

@import 'exa1';

.sds-light-example {
  background-color: map-get($light, '--control_icon');
  color: map-get($light, '--button_ghost_interactive_background');
  // .level2 {
  //   color: black;
  // }
}
.sds-dark-example {
  background-color: map-get($dark, '--color_primary_interactive');
  color: map-get($dark, '--control_background');
}

:export {
  --sds-example-variable-color: #{$sdsExampleVariable};
}
