$dark_colors: (
  // ------------------------------
  // Base Colors
  // ------------------------------
  --sds_theme_color_neutral: #{sds-color(grey, 40)},
  --sds_theme_color_neutral_interactive: #{sds-color(grey, 30)},
  --sds_theme_color_neutral_tint_1: #{sds-color(grey, 100)},
  --sds_theme_color_neutral_tint_2: #{sds-color(grey, 70)},
  --sds_theme_color_blue: #{sds-color(blue, 40)},
  --sds_theme_color_blue_interactive: #{sds-color(blue, 30)},
  --sds_theme_color_blue_tint_1: #{sds-color(blue, 100)},
  --sds_theme_color_blue_tint_2: #{sds-color(blue, 90)},
  --sds_theme_color_green: #{sds-color(green, 40)},
  --sds_theme_color_green_interactive: #{sds-color(green, 30)},
  --sds_theme_color_green_tint_1: #{sds-color(green, 100)},
  --sds_theme_color_green_tint_2: #{sds-color(green, 90)},
  --sds_theme_color_yellow: #{sds-color(yellow, 40)},
  --sds_theme_color_yellow_interactive: #{sds-color(yellow, 30)},
  --sds_theme_color_yellow_tint_1: #{sds-color(yellow, 100)},
  --sds_theme_color_yellow_tint_2: #{sds-color(yellow, 90)},
  --sds_theme_color_red: #{sds-color(red, 40)},
  --sds_theme_color_red_interactive: #{sds-color(red, 30)},
  --sds_theme_color_red_tint_1: #{sds-color(red, 100)},
  --sds_theme_color_red_tint_2: #{sds-color(red, 90)},
  --sds_theme_color_indigo: #{sds-color(indigo, 40)},
  --sds_theme_color_indigo_interactive: #{sds-color(indigo, 30)},
  --sds_theme_color_indigo_tint_1: #{sds-color(indigo, 100)},
  --sds_theme_color_indigo_tint_2: #{sds-color(indigo, 90)},
  --sds_theme_color_purple: #{sds-color(purple, 40)},
  --sds_theme_color_purple_interactive: #{sds-color(purple, 30)},
  --sds_theme_color_purple_tint_1: #{sds-color(purple, 100)},
  --sds_theme_color_purple_tint_2: #{sds-color(purple, 90)},
  --sds_theme_color_lime: #{sds-color(lime, 40)},
  --sds_theme_color_lime_interactive: #{sds-color(lime, 30)},
  --sds_theme_color_lime_tint_1: #{sds-color(lime, 100)},
  --sds_theme_color_lime_tint_2: #{sds-color(lime, 90)},
  --sds_theme_color_teal: #{sds-color(teal, 40)},
  --sds_theme_color_teal_interactive: #{sds-color(teal, 30)},
  --sds_theme_color_teal_tint_1: #{sds-color(teal, 100)},
  --sds_theme_color_teal_tint_2: #{sds-color(teal, 90)},
  --sds_theme_color_orange: #{sds-color(orange, 40)},
  --sds_theme_color_orange_interactive: #{sds-color(orange, 30)},
  --sds_theme_color_orange_tint_1: #{sds-color(orange, 100)},
  --sds_theme_color_orange_tint_2: #{sds-color(orange, 90)},
  --sds_theme_color_pink: #{sds-color(pink, 40)},
  --sds_theme_color_pink_interactive: #{sds-color(pink, 30)},
  --sds_theme_color_pink_tint_1: #{sds-color(pink, 100)},
  --sds_theme_color_pink_tint_2: #{sds-color(pink, 90)}
);
