@import '../sds-core/sds-tools';

@mixin theme-content() {
  // ------------------------------
  // Base Colors
  // ------------------------------
  --sds_theme_color_neutral: #{sds-color(grey, 40)};
  --sds_theme_color_neutral_interactive: #{sds-color(grey, 30)};
  --sds_theme_color_neutral_tint_1: #{sds-color(grey, 100)};
  --sds_theme_color_neutral_tint_2: #{sds-color(grey, 70)};

  --sds_theme_color_blue: #{sds-color(blue, 40)};
  --sds_theme_color_blue_interactive: #{sds-color(blue, 30)};
  --sds_theme_color_blue_tint_1: #{sds-color(blue, 100)};
  --sds_theme_color_blue_tint_2: #{sds-color(blue, 90)};

  --sds_theme_color_green: #{sds-color(green, 40)};
  --sds_theme_color_green_interactive: #{sds-color(green, 30)};
  --sds_theme_color_green_tint_1: #{sds-color(green, 100)};
  --sds_theme_color_green_tint_2: #{sds-color(green, 90)};

  --sds_theme_color_yellow: #{sds-color(yellow, 40)};
  --sds_theme_color_yellow_interactive: #{sds-color(yellow, 30)};
  --sds_theme_color_yellow_tint_1: #{sds-color(yellow, 100)};
  --sds_theme_color_yellow_tint_2: #{sds-color(yellow, 90)};

  --sds_theme_color_red: #{sds-color(red, 40)};
  --sds_theme_color_red_interactive: #{sds-color(red, 30)};
  --sds_theme_color_red_tint_1: #{sds-color(red, 100)};
  --sds_theme_color_red_tint_2: #{sds-color(red, 90)};

  --sds_theme_color_indigo: #{sds-color(indigo, 40)};
  --sds_theme_color_indigo_interactive: #{sds-color(indigo, 30)};
  --sds_theme_color_indigo_tint_1: #{sds-color(indigo, 100)};
  --sds_theme_color_indigo_tint_2: #{sds-color(indigo, 90)};

  --sds_theme_color_purple: #{sds-color(purple, 40)};
  --sds_theme_color_purple_interactive: #{sds-color(purple, 30)};
  --sds_theme_color_purple_tint_1: #{sds-color(purple, 100)};
  --sds_theme_color_purple_tint_2: #{sds-color(purple, 90)};

  --sds_theme_color_lime: #{sds-color(lime, 40)};
  --sds_theme_color_lime_interactive: #{sds-color(lime, 30)};
  --sds_theme_color_lime_tint_1: #{sds-color(lime, 100)};
  --sds_theme_color_lime_tint_2: #{sds-color(lime, 90)};

  --sds_theme_color_teal: #{sds-color(teal, 40)};
  --sds_theme_color_teal_interactive: #{sds-color(teal, 30)};
  --sds_theme_color_teal_tint_1: #{sds-color(teal, 100)};
  --sds_theme_color_teal_tint_2: #{sds-color(teal, 90)};

  --sds_theme_color_orange: #{sds-color(orange, 40)};
  --sds_theme_color_orange_interactive: #{sds-color(orange, 30)};
  --sds_theme_color_orange_tint_1: #{sds-color(orange, 100)};
  --sds_theme_color_orange_tint_2: #{sds-color(orange, 90)};

  --sds_theme_color_pink: #{sds-color(pink, 40)};
  --sds_theme_color_pink_interactive: #{sds-color(pink, 30)};
  --sds_theme_color_pink_tint_1: #{sds-color(pink, 100)};
  --sds_theme_color_pink_tint_2: #{sds-color(pink, 90)};

  // ------------------------------
  // Semantic Colors
  // ------------------------------
  --sds_theme_color_primary: var(--sds_theme_color_blue);
  --sds_theme_color_primary_interactive: var(
    --sds_theme_color_blue_interactive
  );
  --sds_theme_color_primary_tint_1: var(--sds_theme_color_blue_tint_1);
  --sds_theme_color_primary_tint_2: var(--sds_theme_color_blue_tint_2);

  --sds_theme_color_success: var(--sds_theme_color_green);
  --sds_theme_color_success_interactive: var(
    --sds_theme_color_green_interactive
  );
  --sds_theme_color_success_tint_1: var(--sds_theme_color_green_tint_1);
  --sds_theme_color_success_tint_2: var(--sds_theme_color_green_tint_2);

  --sds_theme_color_warning: var(--sds_theme_color_yellow);
  --sds_theme_color_warning_interactive: var(
    --sds_theme_color_yellow_interactive
  );
  --sds_theme_color_warning_tint_1: var(--sds_theme_color_yellow_tint_1);
  --sds_theme_color_warning_tint_2: var(--sds_theme_color_yellow_tint_2);

  --sds_theme_color_danger: var(--sds_theme_color_red);
  --sds_theme_color_danger_interactive: var(--sds_theme_color_red_interactive);
  --sds_theme_color_danger_tint_1: var(--sds_theme_color_red_tint_1);
  --sds_theme_color_danger_tint_2: var(--sds_theme_color_red_tint_2);

  // ------------------------------
  // Backgrounds
  // ------------------------------
  --sds_theme_background: #{sds-color(grey, 90)};
  --sds_theme_background_high: #{sds-color(grey, 80)};
  --sds_theme_background_low: #{sds-color(grey, 100)};
  --sds_theme_background_contrast: #{sds-color(white)};
  --sds_theme_background_contrast_2: #{sds-color(grey, 05)};
  --sds_theme_background_gradient: linear-gradient(
    to bottom,
    var(--sds_theme_background_high) 0%,
    var(--sds_theme_background) 100%
  );

  // ------------------------------
  // Text
  // ------------------------------
  --sds_theme_text: #{sds-color(white)};
  --sds_theme_text_muted: #{sds-color(grey, 40)};
  --sds_theme_text_contrast: #{sds-color(grey, 100)};
  --sds_theme_text_contrast_muted: var(--sds_theme_color_neutral_tint_2);
  --sds_theme_text_highlighted: var(--sds_theme_text);
  --sds_theme_text_highlighted_background: var(
    --sds_theme_color_primary_tint_2
  );

  // ------------------------------
  // Borders
  // ------------------------------
  --sds_theme_border: #{sds-color(grey, 60)};
  --sds_theme_border_contrast: #{sds-color(grey, 30)};

  // ------------------------------
  // Icons
  // ------------------------------
  --sds_theme_icon: #{sds-color(grey, 20)};
  --sds_theme_icon_muted: #{sds-color(grey)};
  --sds_theme_icon_dark: #{sds-color(grey, 100)};
  --sds_theme_icon_light: #{sds-color(white)};

  // ------------------------------
  // Buttons
  // ------------------------------
  --sds_theme_button_background: var(--sds_theme_background_gradient);
  --sds_theme_button_border: var(--sds_theme_border);
  --sds_theme_button_text: var(--sds_theme_text);
  --sds_theme_button_icon: var(--sds_theme_icon);
  --sds_theme_button_interactive_background: var(--sds_theme_background_low);
  --sds_theme_button_interactive_border: #{sds-color(grey)};
  --sds_theme_button_interactive_text: var(--sds_theme_button_text);
  --sds_theme_button_interactive_icon: var(--sds_theme_icon_light);

  --sds_theme_button_primary_background: var(--sds_theme_color_primary);
  --sds_theme_button_primary_border: var(--sds_theme_color_primary);
  --sds_theme_button_primary_text: var(--sds_theme_text_contrast);
  --sds_theme_button_primary_icon: var(--sds_theme_icon_dark);
  --sds_theme_button_primary_interactive_background: var(
    --sds_theme_color_primary_interactive
  );
  --sds_theme_button_primary_interactive_border: var(
    --sds_theme_color_primary_interactive
  );
  --sds_theme_button_primary_interactive_text: var(
    --sds_theme_button_primary_text
  );
  --sds_theme_button_primary_interactive_icon: var(
    --sds_theme_button_primary_icon
  );

  --sds_theme_button_secondary_background: var(--sds_theme_button_background);
  --sds_theme_button_secondary_border: var(--sds_theme_button_border);
  --sds_theme_button_secondary_text: var(--sds_theme_color_primary_interactive);
  --sds_theme_button_secondary_icon: var(--sds_theme_color_primary);
  --sds_theme_button_secondary_interactive_background: var(
    --sds_theme_button_primary_interactive_background
  );
  --sds_theme_button_secondary_interactive_border: var(
    --sds_theme_button_primary_interactive_border
  );
  --sds_theme_button_secondary_interactive_text: var(
    --sds_theme_button_primary_interactive_text
  );
  --sds_theme_button_secondary_interactive_icon: var(
    --sds_theme_button_primary_interactive_icon
  );

  --sds_theme_button_ghost_background: #00000000;
  --sds_theme_button_ghost_text: var(--sds_theme_button_text);
  --sds_theme_button_ghost_icon: var(--sds_theme_button_icon);
  --sds_theme_button_ghost_interactive_background: var(
    --sds_theme_color_neutral_tint_2
  );
  --sds_theme_button_ghost_interactive_text: var(--sds_theme_button_ghost_text);
  --sds_theme_button_ghost_interactive_icon: var(
    --sds_theme_button_interactive_icon
  );

  --sds_theme_button_danger_background: var(--sds_theme_color_danger);
  --sds_theme_button_danger_border: var(--sds_theme_color_danger_interactive);
  --sds_theme_button_danger_text: var(--sds_theme_text_contrast);
  --sds_theme_button_danger_icon: var(--sds_theme_icon_dark);
  --sds_theme_button_danger_interactive_background: var(
    --sds_theme_color_danger_interactive
  );
  --sds_theme_button_danger_interactive_border: var(
    --sds_theme_color_danger_interactive
  );
  --sds_theme_button_danger_interactive_text: var(
    --sds_theme_button_danger_text
  );
  --sds_theme_button_danger_interactive_icon: var(
    --sds_theme_button_danger_icon
  );

  --sds_theme_button_danger_alt_background: var(--sds_theme_button_background);
  --sds_theme_button_danger_alt_border: var(--sds_theme_button_border);
  --sds_theme_button_danger_alt_text: var(--sds_theme_color_danger_interactive);
  --sds_theme_button_danger_alt_icon: var(--sds_theme_color_danger);
  --sds_theme_button_danger_alt_interactive_background: var(
    --sds_theme_button_danger_interactive_background
  );
  --sds_theme_button_danger_alt_interactive_border: var(
    --sds_theme_button_danger_interactive_border
  );
  --sds_theme_button_danger_alt_interactive_text: var(
    --sds_theme_button_danger_interactive_text
  );
  --sds_theme_button_danger_alt_interactive_icon: var(
    --sds_theme_button_danger_interactive_icon
  );

  // ------------------------------
  // Controls
  // ------------------------------
  --sds_theme_control_background: var(--sds_theme_background_high);
  --sds_theme_control_border: var(--sds_theme_border);
  --sds_theme_control_text: var(--sds_theme_text);
  --sds_theme_control_icon: var(--sds_theme_icon_muted);
  --sds_theme_control_placeholder: var(--sds_theme_text_muted);

  --sds_theme_control_hover_background: var(--sds_theme_control_background);
  --sds_theme_control_hover_border: #{sds-color(grey)};

  --sds_theme_control_focus_background: var(--sds_theme_background_low);
  --sds_theme_control_focus_border: var(--sds_theme_control_hover_border);

  --sds_theme_control_disabled_background: var(--sds_theme_control_background);
  --sds_theme_control_disabled_border: var(--sds_theme_control_border);
  --sds_theme_control_disabled_text: var(--sds_theme_control_text);
  --sds_theme_control_disabled_icon: var(--sds_theme_control_icon);
  --sds_theme_control_disabled_placeholder: var(
    --sds_theme_control_placeholder
  );

  --sds_theme_control_error_background: var(--sds_theme_color_danger_tint_1);
  --sds_theme_control_error_border: var(--sds_theme_color_danger);
  --sds_theme_control_error_text: var(--sds_theme_color_danger_interactive);
  --sds_theme_control_error_icon: var(--sds_theme_color_danger);

  // ------------------------------
  // Global UI
  // ------------------------------
  --sds_theme_border_radius: 0.5rem;
  --sds_theme_disabled_opacity: 48%;
  --sds_theme_focus_highlight: var(--sds_theme_color_primary);
  --sds_theme_focus_shadow: 0 0 0 2px var(--sds_theme_background),
    0 0 0 4px var(--sds_theme_focus_highlight);
}

body[data-theme='Dark'] {
  @include theme-content();
}
