@import 'light-definitions';

$light: map-merge(
  $light-definitions,
  (
    // ------------------------------
    // Base Colors
    // ------------------------------
    // ------------------------------
    // Semantic Colors
    // ------------------------------
    --sds_theme_color_primary:
      map-get($light-definitions, --sds_theme_color_blue),
    --sds_theme_color_primary_interactive:
      map-get($light-definitions, --sds_theme_color_blue_interactive),
    --sds_theme_color_primary_tint_1:
      map-get($light-definitions, --sds_theme_color_blue_tint_1),
    --sds_theme_color_primary_tint_2:
      map-get($light-definitions, --sds_theme_color_blue_tint_2),
    --sds_theme_color_success:
      map-get($light-definitions, --sds_theme_color_green),
    --sds_theme_color_success_interactive:
      map-get($light-definitions, --sds_theme_color_green_interactive),
    --sds_theme_color_success_tint_1:
      map-get($light-definitions, --sds_theme_color_green_tint_1),
    --sds_theme_color_success_tint_2:
      map-get($light-definitions, --sds_theme_color_green_tint_2),
    --sds_theme_color_warning:
      map-get($light-definitions, --sds_theme_color_yellow),
    --sds_theme_color_warning_interactive:
      map-get($light-definitions, --sds_theme_color_yellow_interactive),
    --sds_theme_color_warning_tint_1:
      map-get($light-definitions, --sds_theme_color_yellow_tint_1),
    --sds_theme_color_warning_tint_2:
      map-get($light-definitions, --sds_theme_color_yellow_tint_2),
    --sds_theme_color_danger: map-get($light-definitions, --sds_theme_color_red),
    --sds_theme_color_danger_interactive:
      map-get($light-definitions, --sds_theme_color_red_interactive),
    --sds_theme_color_danger_tint_1:
      map-get($light-definitions, --sds_theme_color_red_tint_1),
    --sds_theme_color_danger_tint_2:
      map-get($light-definitions, --sds_theme_color_red_tint_2),
    // ------------------------------
    // Backgrounds
    // ------------------------------
    --sds_theme_background_gradient:
      linear-gradient(
        to bottom,
        map-get($light-definitions, --sds_theme_background_high) 0%,
        map-get($light-definitions, --sds_theme_background) 100%
      ),
    // ------------------------------
    // Text
    // ------------------------------
    --sds_theme_text_highlighted: map-get($light-definitions, --sds_theme_text),
    --sds_theme_text_highlighted_background:
      map-get($light-definitions, --sds_theme_color_primary_tint_2),
    // ------------------------------
    // Borders
    // ------------------------------
    // ------------------------------
    // Icons
    // ------------------------------
    // ------------------------------
    // Buttons
    // ------------------------------
    --sds_theme_button_background:
      map-get($light-definitions, --sds_theme_background_gradient),
    --sds_theme_button_border: map-get($light-definitions, --sds_theme_border),
    --sds_theme_button_text: map-get($light-definitions, --sds_theme_text),
    --sds_theme_button_icon: map-get($light-definitions, --sds_theme_icon),
    --sds_theme_button_interactive_background:
      map-get($light-definitions, --sds_theme_background_low),
    --sds_theme_button_interactive_border:
      map-get($light-definitions, --sds_theme_color_neutral),
    --sds_theme_button_interactive_text:
      map-get($light-definitions, --sds_theme_button_text),
    --sds_theme_button_interactive_icon:
      map-get($light-definitions, --sds_theme_icon_dark),
    --sds_theme_button_primary_background:
      map-get($light-definitions, --sds_theme_color_primary),
    --sds_theme_button_primary_border:
      map-get($light-definitions, --sds_theme_color_primary_interactive),
    --sds_theme_button_primary_text:
      map-get($light-definitions, --sds_theme_text_contrast),
    --sds_theme_button_primary_icon:
      map-get($light-definitions, --sds_theme_icon_light),
    --sds_theme_button_primary_interactive_background:
      map-get($light-definitions, --sds_theme_color_primary_interactive),
    --sds_theme_button_primary_interactive_border:
      map-get($light-definitions, --sds_theme_button_primary_border),
    --sds_theme_button_primary_interactive_text:
      map-get($light-definitions, --sds_theme_button_primary_text),
    --sds_theme_button_primary_interactive_icon:
      map-get($light-definitions, --sds_theme_button_primary_icon),
    --sds_theme_button_secondary_background:
      map-get($light-definitions, --sds_theme_button_background),
    --sds_theme_button_secondary_border:
      map-get($light-definitions, --sds_theme_button_border),
    --sds_theme_button_secondary_text:
      map-get($light-definitions, --sds_theme_color_primary_interactive),
    --sds_theme_button_secondary_icon:
      map-get($light-definitions, --sds_theme_color_primary),
    --sds_theme_button_secondary_interactive_background:
      map-get(
        $light-definitions,
        --sds_theme_button_primary_interactive_background
      ),
    --sds_theme_button_secondary_interactive_border:
      map-get($light-definitions, --sds_theme_button_primary_interactive_border),
    --sds_theme_button_secondary_interactive_text:
      map-get($light-definitions, --sds_theme_button_primary_interactive_text),
    --sds_theme_button_secondary_interactive_icon:
      map-get($light-definitions, --sds_theme_button_primary_interactive_icon),
    --sds_theme_button_ghost_text:
      map-get($light-definitions, --sds_theme_button_text),
    --sds_theme_button_ghost_icon:
      map-get($light-definitions, --sds_theme_button_icon),
    --sds_theme_button_ghost_interactive_background:
      map-get($light-definitions, --sds_theme_color_neutral_tint_2),
    --sds_theme_button_ghost_interactive_text:
      map-get($light-definitions, --sds_theme_button_ghost_text),
    --sds_theme_button_ghost_interactive_icon:
      map-get($light-definitions, --sds_theme_button_interactive_icon),
    --sds_theme_button_danger_background:
      map-get($light-definitions, --sds_theme_color_danger),
    --sds_theme_button_danger_border:
      map-get($light-definitions, --sds_theme_color_danger_interactive),
    --sds_theme_button_danger_text:
      map-get($light-definitions, --sds_theme_text_contrast),
    --sds_theme_button_danger_icon:
      map-get($light-definitions, --sds_theme_icon_light),
    --sds_theme_button_danger_interactive_background:
      map-get($light-definitions, --sds_theme_color_danger_interactive),
    --sds_theme_button_danger_interactive_border:
      map-get($light-definitions, --sds_theme_button_danger_border),
    --sds_theme_button_danger_interactive_text:
      map-get($light-definitions, --sds_theme_button_danger_text),
    --sds_theme_button_danger_interactive_icon:
      map-get($light-definitions, --sds_theme_button_danger_icon),
    --sds_theme_button_danger_alt_background:
      map-get($light-definitions, --sds_theme_button_background),
    --sds_theme_button_danger_alt_border:
      map-get($light-definitions, --sds_theme_button_border),
    --sds_theme_button_danger_alt_text:
      map-get($light-definitions, --sds_theme_color_danger_interactive),
    --sds_theme_button_danger_alt_icon:
      map-get($light-definitions, --sds_theme_color_danger),
    --sds_theme_button_danger_alt_interactive_background:
      map-get(
        $light-definitions,
        --sds_theme_button_danger_interactive_background
      ),
    --sds_theme_button_danger_alt_interactive_border:
      map-get($light-definitions, --sds_theme_button_danger_interactive_border),
    --sds_theme_button_danger_alt_interactive_text:
      map-get($light-definitions, --sds_theme_button_danger_interactive_text),
    --sds_theme_button_danger_alt_interactive_icon:
      map-get($light-definitions, --sds_theme_button_danger_interactive_icon),
    // ------------------------------
    // Controls
    // ------------------------------
    --sds_theme_control_background:
      map-get($light-definitions, --sds_theme_background_high),
    --sds_theme_control_border: map-get($light-definitions, --sds_theme_border),
    --sds_theme_control_text: map-get($light-definitions, --sds_theme_text),
    --sds_theme_control_icon:
      map-get($light-definitions, --sds_theme_icon_muted),
    --sds_theme_control_placeholder:
      map-get($light-definitions, --sds_theme_text_muted),
    --sds_theme_control_hover_background:
      map-get($light-definitions, --sds_theme_control_background),
    --sds_theme_control_hover_border:
      map-get($light-definitions, --sds_theme_color_neutral),
    --sds_theme_control_focus_background:
      map-get($light-definitions, --sds_theme_control_hover_background),
    --sds_theme_control_focus_border:
      map-get($light-definitions, --sds_theme_control_hover_border),
    --sds_theme_control_disabled_background:
      map-get($light-definitions, --sds_theme_control_disabled_background),
    --sds_theme_control_disabled_border:
      map-get($light-definitions, --sds_theme_control_border),
    --sds_theme_control_disabled_text:
      map-get($light-definitions, --sds_theme_control_text),
    --sds_theme_control_disabled_icon:
      map-get($light-definitions, --sds_theme_control_icon),
    --sds_theme_control_disabled_placeholder:
      map-get($light-definitions, --sds_theme_control_placeholder),
    --sds_theme_control_error_background:
      map-get($light-definitions, --sds_theme_color_danger_tint_1),
    --sds_theme_control_error_border:
      map-get($light-definitions, --sds_theme_color_danger),
    --sds_theme_control_error_text:
      map-get($light-definitions, --sds_theme_color_danger_interactive),
    --sds_theme_control_error_icon:
      map-get($light-definitions, --sds_theme_color_danger),
    // ------------------------------
    // Global UI
    // ------------------------------
    --sds_theme_focus_highlight:
      map-get($light-definitions, --sds_theme_color_primary),
    --sds_theme_focus_shadow: #{0 0 2px
      map-get($light-definitions, --sds_theme_background),
    0 0 4px map-get($light-definitions, --sds_theme_focus_highlight)}
  )
);
