$light_colors: (
  // ------------------------------
  // Base Colors
  // ------------------------------
  --sds_theme_color_neutral: #{sds-color(grey)},
  --sds_theme_color_neutral_interactive: #{sds-color(grey, 60)},
  --sds_theme_color_neutral_tint_1: #{sds-color(grey, 05)},
  --sds_theme_color_neutral_tint_2: #{sds-color(grey, 20)},
  --sds_theme_color_blue: #{sds-color(blue)},
  --sds_theme_color_blue_interactive: #{sds-color(blue, 60)},
  --sds_theme_color_blue_tint_1: #{sds-color(blue, 05)},
  --sds_theme_color_blue_tint_2: #{sds-color(blue, 10)},
  --sds_theme_color_green: #{sds-color(green)},
  --sds_theme_color_green_interactive: #{sds-color(green, 60)},
  --sds_theme_color_green_tint_1: #{sds-color(green, 05)},
  --sds_theme_color_green_tint_2: #{sds-color(green, 10)},
  --sds_theme_color_yellow: #{sds-color(yellow)},
  --sds_theme_color_yellow_interactive: #{sds-color(yellow, 60)},
  --sds_theme_color_yellow_tint_1: #{sds-color(yellow, 05)},
  --sds_theme_color_yellow_tint_2: #{sds-color(yellow, 10)},
  --sds_theme_color_red: #{sds-color(red)},
  --sds_theme_color_red_interactive: #{sds-color(red, 60)},
  --sds_theme_color_red_tint_1: #{sds-color(red, 05)},
  --sds_theme_color_red_tint_2: #{sds-color(red, 10)},
  --sds_theme_color_indigo: #{sds-color(indigo)},
  --sds_theme_color_indigo_interactive: #{sds-color(indigo, 60)},
  --sds_theme_color_indigo_tint_1: #{sds-color(indigo, 05)},
  --sds_theme_color_indigo_tint_2: #{sds-color(indigo, 10)},
  --sds_theme_color_purple: #{sds-color(purple)},
  --sds_theme_color_purple_interactive: #{sds-color(purple, 60)},
  --sds_theme_color_purple_tint_1: #{sds-color(purple, 05)},
  --sds_theme_color_purple_tint_2: #{sds-color(purple, 10)},
  --sds_theme_color_lime: #{sds-color(lime)},
  --sds_theme_color_lime_interactive: #{sds-color(lime, 60)},
  --sds_theme_color_lime_tint_1: #{sds-color(lime, 05)},
  --sds_theme_color_lime_tint_2: #{sds-color(lime, 10)},
  --sds_theme_color_teal: #{sds-color(teal)},
  --sds_theme_color_teal_interactive: #{sds-color(teal, 60)},
  --sds_theme_color_teal_tint_1: #{sds-color(teal, 05)},
  --sds_theme_color_teal_tint_2: #{sds-color(teal, 10)},
  --sds_theme_color_orange: #{sds-color(orange)},
  --sds_theme_color_orange_interactive: #{sds-color(orange, 60)},
  --sds_theme_color_orange_tint_1: #{sds-color(orange, 05)},
  --sds_theme_color_orange_tint_2: #{sds-color(orange, 10)},
  --sds_theme_color_pink: #{sds-color(pink)},
  --sds_theme_color_pink_interactive: #{sds-color(pink, 60)},
  --sds_theme_color_pink_tint_1: #{sds-color(pink, 05)},
  --sds_theme_color_pink_tint_2: #{sds-color(pink, 10)},
  // ------------------------------
  // Semantic Colors
  // ------------------------------
  // ------------------------------
  // Backgrounds
  // ------------------------------
  --sds_theme_background: #{sds-color(grey, 05)},
  --sds_theme_background_high: #{sds-color(white)},
  --sds_theme_background_low: #{sds-color(grey, 10)},
  --sds_theme_background_contrast: #{sds-color(grey, 100)},
  --sds_theme_background_contrast_2: #{sds-color(grey, 90)},
  // ------------------------------
  // Text
  // ------------------------------
  --sds_theme_text: #{sds-color(grey, 100)},
  --sds_theme_text_muted: #{sds-color(grey, 70)},
  --sds_theme_text_contrast: #{sds-color(white)},
  --sds_theme_text_contrast_muted: #{sds-color(grey, 40)},
  // ------------------------------
  // Borders
  // ------------------------------
  --sds_theme_border: #{sds-color(grey, 30)},
  --sds_theme_border_contrast: #{sds-color(grey, 60)},
  // ------------------------------
  // Icons
  // ------------------------------
  --sds_theme_icon: #{sds-color(grey, 70)},
  --sds_theme_icon_muted: #{sds-color(grey, 40)},
  --sds_theme_icon_dark: #{sds-color(grey, 100)},
  --sds_theme_icon_light: #{sds-color(white)},
  // ------------------------------
  // Buttons
  // ------------------------------
  --sds_theme_button_ghost_background: #ffffff00,
  // ------------------------------
  // Controls
  // ------------------------------
  // ------------------------------
  // Global UI
  // ------------------------------
  --sds_theme_border_radius: 0.5rem,
  --sds_theme_disabled_opacity: 48%
);
